*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "plain";
    cursor:none;
}

html,body{
    width: 100%;
    height: 100%;
}
._canvas_container{
    z-index: 99999 !important;
}
.mousefollower{
    width : 2.5vw;
    height : 2.5vw;
    border: 1px solid #fff !important;
    background-color: transparent !important;
    z-index: 999999999;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
}
.menu{
    width:100%;
height: 100vh;
position: fixed;
top: -100%;
background-color: #151515;
z-index: 9;
padding-top: 5vw;
padding-left: 4vw;
display: flex;
z-index: 999999;
}
.menu-part1{
    margin-top: 4vw;
}
.menu-part1 .text{
    position: relative;
    height: 17vh;
    color: white;
    padding-left: 1vw;
}
.menu-part1 .text:nth-child(1) h1 span{
    font-family: "silk serif" !important;
-webkit-text-stroke: 1px #fff;
color: transparent;
}
.menu-part1 .text h1{
font-size: 7.2vw;
font-weight: 500;
text-transform: uppercase;
position: relative;
}
.menu-part1 .text h2{
font-size: 7.2vw;
font-weight: 500;
text-transform: uppercase;
text-align: center;
position: absolute;
top: -6%;
/* left: 23%; */
font-family: "silk serif";
color: transparent;
-webkit-text-stroke: 1px #fff;
}
.menu-part1 .text h2 span{
    font-family: "silk serif";
    opacity:0;
    font-size: 7.2vw;
    font-weight: 500;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}
.menu .menu-part2 .social{
    color: white;
    flex-direction: column;
    gap: 3vw;
    margin-left: 20vw;
}
.nav{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3.5vw 5vw;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 999999;
pointer-events: none;
}
.nav-part1{
    display: flex;
    gap: 14vw;
    align-items:flex-start;
}
.nav-part1 .logo button{
    background-color: transparent;
    border: none;
pointer-events: visible;
}
.nav-part1 .logo button svg{
    color:#fff
}
.nav-inner1{
    display: flex;
    align-items: start;
    gap: 3vw;
}
.nav-inner2 h5{
    font-weight: 300;
    text-transform: capitalize;
    font-size: 1vw;
    line-height: 1.1;

}
.nav-part2{
    display: flex;
    gap: 2.4vw;
}
.nav-part2 h3{
    font-weight: 300;
    font-size: 1vw;
    text-transform: capitalize;
}
.text{
    overflow: hidden;
}
.loader{
    width: 100%;
    height: 100vh;
    background-color: #0B0B0B;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    padding: 9vw 4vw;
}
.loader .text{
    color: #fff;
    display: flex;
}
.loader .text:nth-child(3)
{
    height: 17vh;
}
.loader .text:nth-child(1){
    margin-left: 6vw;
}

.loader .text:nth-child(3) h1 span{
    font-size: 7.5vw;
    text-transform: uppercase;
    margin-left: 2vw;
    display: inline-block;
    line-height: 1;
    animation : textAnimation 2s linear  infinite;
}
@keyframes textAnimation {
    0%{
        font-size: 7.5vw;
        text-transform: uppercase;
        margin-left: 2vw;
        display: inline-block;
        line-height: 1;
        opacity: 1;
        color: #fff;
    font-family: "plain";

    }
    45%{
        font-size: 7.5vw;
        text-transform: uppercase;
        margin-left: 2vw;
        display: inline-block;
        line-height: 1;
        opacity: 0;
        color: #fff;
    font-family: "plain";
    }
    50%{
        font-size: 7.5vw;
        text-transform: uppercase;
        margin-left: 2vw;
        display: inline-block;
        line-height: 1;
        font-family: "silk serif";
        opacity: 1;
        -webkit-text-stroke: 2px white;
        color: transparent;
    }
    95%{
        font-size: 7.5vw;
        text-transform: uppercase;
        margin-left: 2vw;
        display: inline-block;
        line-height: 1;
        font-family: "silk serif";
        opacity: 0;
        -webkit-text-stroke: 2px white;
        color: transparent;
    }
    100%{
        font-size: 7.5vw;
        text-transform: uppercase;
        margin-left: 2vw;
        display: inline-block;
        line-height: 1;
        opacity: 1;
        color: #fff;
    font-family: "plain";
    }
}
.loader .text h2{
    margin-right: 4vw;
    font-weight: 900;
    font-size: 3vw;
    font-family: "silk serif";
    width: 14.5vw;
}
.loader .text h2 span{
    font-family: "silk serif";
    font-weight: 400;
    font-size: 3vw;
    margin-left: 10px;
    margin-right: 10px;
}
.loader .text h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 500;
}
.loader .setof-h3{
    margin-top: 4vw;
    margin-left:24vw ;
}
.loader .setof-h3 h3{
    color: #fff;
    font-size: 1vw;
    font-weight: 300;
    line-height: 1.4;
}
.main{
    background-color: #151515;
    color: #fff;
}
.page-1{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 3vw;
}
.page-1 .text-container{
    margin-left: 7vw;
}
.page-1 .text:nth-child(1){
display: flex;
    transform: translateX(-16%);
}
.page-1 .text:nth-child(3){
    height: 17.5vh;
}
.page-1 .text h1{
font-size: 7.5vw;
line-height: .9;
text-transform: uppercase;
font-weight: 500;
position: relative;
}
.page-1 .text h1 span{
    position: relative;
    transition: all ease .3s;
}
.page-1 .text:nth-child(1) h2{
 font-family: "silk serif";
 font-size: 3vw;
 font-weight: 400;
margin-right: 5vw ;
}
.page-1 .text:nth-child(3){
    overflow: visible;
    position: relative;
}
.page-1 .text img{
    width: 20vw;
    position: absolute;
    transform: translate(0 ,0);
    opacity: 0;
}
.page-1 .text .under-text{
    overflow: hidden;
    height: 17.3vh;
    width: 100%;
}
.page-1 .text:nth-child(3) h1 span::after{
    content: "";
    position: absolute;
    width: 98%;
    height: .6vw;
    bottom: 0%;
    left: -2%;
    background-color: #fff;
    transition: all  ease .1s;
}
.page-1 .text:nth-child(3) h1 span:last-child:after{
    width: 105%;
    bottom: 0%;
    left: -4%;
}
.page-1 .text:nth-child(3) h1 span:hover{
    color: transparent;
    -webkit-text-stroke: 1px white;
}
.page-1 .text:nth-child(3) h1 span:hover::after{
    display: none;
}

.page-2{
    width: 100%;
    height: 100vh;
    padding-top: 4.5vw;
    display: flex;
    justify-content: end;
}
.page-2 .video-container{
    width: 72%;
    height: 76%;
    position: relative;
}
.page-2 .video-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}
.page-2 .video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page-2 .btn{
    position: absolute;
    top: 5%;
    left: 75%;
    transform: translate(-50%,-50%);
    z-index: 2;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: #FFA63D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-2 .btn i{
    font-size: 2vw;
}

.page-3{
width: 100%;
min-height: 100vh;
padding: 2vw 3vw;

}
.page-3 .text{
    margin-left: 10vw;
    position: relative;
    height: 28vh;
}
.page-3 .line{
    bottom: 0;
    width: 79%;
    right: 2%;
}
.page-3 .text h1{
font-size: 7.2vw;
font-weight: 500;
text-transform: uppercase;
text-align: center;
position: relative;
}
.page-3 .text h1::after{
    content: "02";
    position: absolute;
    font-family: "silk serif";
    left : 3%;
    top: 10%;
    font-size: 3vw;
}
.page-3 .content{
    /* background: red; */
    margin-top: 12vw;
    display: flex;
    gap: 2vw;
    padding: 0 2vw;
    flex-wrap: wrap;
}
.page-3 .content .elem{
/* background-color: blue;     */
width: fit-content;

}
.page-3 .content .elem:nth-child(5){
    margin-top: 8vw;
}
.page-3 .content .elem:nth-child(5) .img-container{
    width: 31vw;
    height: 39vw;
}
.page-3 .content .elem:nth-child(6) .img-container{
    width: 31vw;
    height: 39vw;
}
.page-3 .content .elem:last-child .img-container{
    width: 31vw;
    height: 39vw;
}
.page-3 .content .elem:nth-last-child(3){
    transform: translateY(-26%);
}
.content .setof-h1 h1{
    text-transform: uppercase;
    font-size: 2.5vw;
    font-weight: 500;
    transition: all ease .5s;
}
.content .setof-h1{
    width: 23vw;
    height: 3vw;
    overflow: hidden;
}
.elem:hover .setof-h1 h1{
    transform: translateY(-100%);
}
.img-container{
margin-top: 2.5vw;
    width: 23vw;
    height: 30vw;
    position: relative;
}
.img-container img{
height: 100%;
width: 100%;
object-fit: cover;
position: absolute;
/* background-color: red; */
}
.page-3 .content-end{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 0;
}
.page-3 .content-end h2{
    font-weight: 300;
    font-size: 1vw;
    line-height: 1.4;
}
.page-3 .content .line{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
}

.page-3 .content .elem:nth-child(2) .img-container{
    width: 32vw;
    height: 39vw;
}

.content .circle-container{
    width: 23vw;
    height: 23vw;
    border-radius:50%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
.content .circle-container:nth-child(3){
    margin-top: 28vw;
    margin-left: 7.5vw;
}
.content .circle-container:nth-last-child(2){
    margin-top: 28vw; 
    margin-left: 8vw;
}
.content .circle-container:nth-last-child(2) svg{ 
    transform: rotate(-90deg);
}
.content .circle-container:nth-child(4) svg{
    transform: rotate(-45deg);
}
.content .circle-container svg{
    width: 6vw;
}
.content .circle-container .inner-circle{
    width: 100%;
    height: 100%;
    border-radius:50%;
 background-color: #fff;
 position: absolute;
 display: flex;
 align-items: center;
 justify-content: center;
color: black;
padding: 2vw;
transform: scale(0);
transition: all ease .3s;
}
.content .circle-container .inner-circle p{
    font-size: 1vw;
transform: scale(0);
transition: all ease .5s;
transition-delay: .3s;
}
.content .circle-container:hover .inner-circle{
    transform: scale(1);
}
.content .circle-container:hover .inner-circle p{
    transform: scale(1);
}
.page-4{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-4-circle{
    width: 23vw;
    height: 23vw;
    border-radius: 50%;
    background-color: #FFA63D;
display: flex;
align-items: center;
justify-content: center;
}
.page-4-circle p{
    font-size: 1vw;
}
.page-4-circle p span{
    font-family: "silk serif";
}

.page-5{
    width: 100%;
    min-height: 100vh;
    padding: 2vw 3vw;
    
    }
    .page-5 .text{
        margin-left: 6vw;
        position: relative;
        height: 29vh;
    }
    .page-5 .line{
        bottom: 0;
        height: 1px;
        width: 73%;
        right: 2%;
    }
    .page-5 .text h1{
    font-size: 7.2vw;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    }
    .page-5 .text h1::after{
        content: "03";
        position: absolute;
        font-family: "silk serif";
        left : 10%;
        top: 10%;
        font-size: 3vw;
    }
    .page-5 .para-container{
        margin-top: 4vw;
        margin-left: 27.5vw;

    }
    .page-5 .para-container .para{
        overflow: hidden;
    }
    .page-5 .para-container .para p{
        font-size: 2.3vw;
        font-weight: 100;
    }
    .page-5 .info{
        display: flex;
        justify-content: center;
        margin-top: 4vw;
        gap: 2vw;
    }
    .page-5 .info img{
        width: 32vw;
        margin-left: 12.5vw;
    }
    .page-5 .info .part-2{
        width: 18vw;
        /* background-color: red; */
    }
    .page-5 .info .part-2 p{
        font-weight: 100;
        font-size: 1vw;
        line-height: 1.4;

    }
    .page-5 .info .part-2 p:nth-child(1){
        margin-bottom: 1.5vw;
    }
    .page-5 .info .part-2 h3{
        font-weight: 100;
        font-size: 1vw;
        line-height: 1.4;
    }
    .page-5 .card{
        background-color: #3F7DF4;
        width: 32vw;
        padding: 4vw 3vw;
        margin-left: 48vw;
        transform: translateY(-32%);
    }
    .page-5 .card .card-part{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        height: 10vh;
        margin-top: 2vw;
    }
    .page-5 .card .card-part:last-child{
        height: 12vh;
    }
    .page-5 .card .card-part .line{
        width: 100%;
    }
    .page-5 .card .card-part h1{
        font-weight: 300;
        font-size: 1.8vw;
    }
    .page-5 .card .card-part h4{
        font-weight: 300;
        font-size: 1vw;
    }
    .page-5 .page-5-footer{
        /* background-color: red; */
        width: 70%;
        margin-left: 30%;
        height: 10vh;
        position: relative;
        display: flex;
        align-items: center;
    }
    .page-5 .page-5-footer h1{
        font-size: 1.1vw;
        font-weight: 300;
    }

    .page-5 .page-5-footer .line{
        width: 100%;
    top: 0;
    left: 0;    
    }
    .page-6{
        width: 100%;
        height: 100vh;
overflow: hidden;
padding-top: 6vw;
    }
    .page-6 .scroll{
        display: flex;
        white-space: nowrap;
        line-height: 1.1;
    }
    .page-6 .scroll .scroller{
        display: flex;
        white-space: nowrap;
        animation : anime 30s infinite linear;
    }
    .page-6 .scroll:nth-child(2n) .scroller{
        animation-direction: reverse;
    }
    .page-6 .scroll h1{
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        font-weight: 100;
        font-size: 7.5vw;
        text-transform: uppercase;
    }
    .page-6 .scroll h2{
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        font-weight: 100;
        font-size: 7.5vw;
        font-family: "silk serif";
        text-transform: uppercase;
margin-right: 1vw;
margin-left: 1vw; 
    }

    @keyframes anime {
        from{
transform: translateX(0);
        }
        to{
            transform: translateX(-100%);

        }
        
    }

    .page-7{
        width: 100%;
        min-height: 100vh;
        padding: 2vw 3vw;
        
        }
        .page-7 .text{
            margin-left: 6vw;
            position: relative;
            height: 29vh;
        }
        .page-7 .line{
            bottom: 0;
            height: 1px;
            width: 73%;
            right: 2%;
        }
        .page-7 .text h1{
        font-size: 7.2vw;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        }
        .page-7 .text h2{
        font-size: 7.2vw;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        position: absolute;
        top: -6%;
        left: 23%;
        font-family: "silk serif";
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        }
        .page-7 .text h2 span{
            font-family: "silk serif";
            opacity: 0;
            font-size: 7.2vw;
            font-weight: 500;
            color: transparent;
            -webkit-text-stroke: 1px #fff;
        }
        .page-7 .text h1::after{
            content: "04";
            position: absolute;
            font-family: "silk serif";
            left : 10%;
            top: 10%;
            font-size: 3vw;
        }
        .page-7 .text svg{
position: absolute;
top: 10%;
right: 15%;
width: 5vw;
transform: rotate(-90deg);
transition: all ease .5s;
transition-delay: .5s;
        }
        .page-7 .text:hover svg{
            right: 10%;
        }
         .social{
            margin-left: 28vw;
            position: relative;
            /* background-color: red; */
            width: 68.5%;
            margin-top: 4vw;
            display: flex;
            justify-content: space-between;
            padding-right: 5vw;
        }
         .social .part h1{
            font-weight: 100;
            text-transform: capitalize;
            font-size: 1.7vw;
            transition: all ease .5s ;
            line-height: 1;
        }
         .social .part  h2{
            font-weight: 500;
            font-size: 1.2vw;
            margin-bottom: 2vw;
        }
         .social .part .textof-h1{
            height: 4vh;
            overflow: hidden;
        }
         .social .part .textof-h1:hover h1{
            transform: translatey(-100%);

        }
        .page-7 .page-7-footer{
            width: 70%;
            margin-left: 30%;
            height: 10vh;
            position: relative;
            display: flex;
            align-items: center;
            margin-top: 6vw;
        }
        .page-7 .page-7-footer h1{
            font-size: 1.1vw;
            font-weight: 300;
        }
    
        .page-7 .page-7-footer .line{
            width: 100%;
        top: 0;
        left: 0;    
        }



        @media (max-width:1000px) {
            .loader .text h2{
                width: 17vw;
            }
.loader .text:nth-child(1){
    margin-top: 10vw;
}
            .nav{
                padding: 2vw;
            }
            .nav-inner2 h5{
                font-weight: 300;
                text-transform: capitalize;
                font-size: 1.3vw;
                line-height: 1.1;
            
            }
            .nav-part2{
                display: flex;
                gap: 3vw;
            }
            .nav-part2 h3{
                font-size: 1.5vw;
            }
            .menu{
            padding-top: 14vw;
            padding-left: 3vw;
            }
            .menu-part1{
                margin-top: 6vw;
            }
            .menu-part1 .text{
                height: 11vh;
                padding-left: 1vw;
            }
            .menu-part1 .text h1{
            font-size: 7vw;
            }
            .menu-part1 .text h2{
            font-size: 7vw;
            }
            .menu-part1 .text h2 span{
                font-size: 7vw;
            }
            .menu .menu-part2 .social{
                color: white;
                flex-direction: column;
                gap: 3vw;
                margin-left: 20vw;
            }
            .menu .menu-part2 .social .textof-h1
            {
             height: 2.5vw;
            }
            .menu .menu-part2 .social .textof-h1 h1{
                font-size: 2vw;
                line-height: 1.2;

            }
            .page-1{
                padding-bottom: 3vw;
                align-items: center;
            }
            .page-1 .text:nth-child(1){
            display: flex;
                transform: translateX(-16%);
                margin-bottom: 1vw;
                margin-top: 6vw;
            }
            .page-1 .text img{
                display: none;
            }
            .page-1 .text:nth-child(2){
                margin-bottom: 1vw;
            }
            .page-1 .text:nth-child(3){
                height: 11vh;
            }
            .page-1 .text h1{
            font-size: 8vw;
            }
            .page2{
              height: 70vh;
            }
            .page-2 .video-container{
                width: 75%;
                height: 50%;
            }
            .page-2 .btn{
                width: 13vw;
                height: 13vw;
            }
            .page-2 .btn i{
                font-size: 3vw;
            }
            .page-3{
                padding: 0vw 2vw;
            }
                .page-3 .text{
                    height: 18vh;
                }
                .page-3 .text h1{
                font-size: 7.5vw;
                }
                .page-3 .text h1::after{
                    left : 6%;
                }
                .page-3 .content{
                    /* background: red; */
                    margin-top: 12vw;
                    display: flex;
                    gap: 2vw;
                    padding: 0;
                    flex-wrap: wrap;
                }
                .page-3 .content .elem{
                width: fit-content;
                }
                .page-3 .content .elem:nth-child(5){
                    margin-top: 0 !important;
                }
                .page-3 .content .elem:nth-last-child(3){
                    transform: translateY(0%);
                }
                .img-container{
                    width: 47vw !important;
                    height: 80vh !important;
                }
                .page-3 .content-end h2{
                    font-size: 1.5vw;
                }
                .content .circle-container{
                  display: none;
                }
                .page-4{
                    height: 80vh;
                }
                .page-4-circle{
                    width: 24vw;
                    height: 24vw;
                    transition: all ease .3s;
                }
                .page-4-circle p{
                    font-size: 1.5vw;
                }
                .page-4-circle:hover{
                    scale: .9;
                }
                    .page-5 .text{
                        height: 18vh;
                    }
                    .page-5 .line{
                        width: 78% !important;
                    }
                    .page-5 .text h1{
                    font-size: 8.5vw;
                    }
                    .page-5 .para-container{
                        margin-left: 23vw;
                    }
                    .page-5 .para-container .para p{
                        font-size: 3vw;
                    }
                    .page-5 .info{
                        display: flex;
                        justify-content: center;
                        margin-top: 4vw;
                        gap: 2vw;
                    }
                    .page-5 .info img{
                        width: 35vw;
                        margin-left: 14vw;
                    }
                    .page-5 .info .part-2{
                        width: 27vw;
                    }
                    .page-5 .info .part-2 p{
                        font-size: 1.5vw;
                    }
                    .page-5 .info .part-2 p:nth-child(1){
                        margin-bottom: 1.5vw;
                    }
                    .page-5 .info .part-2 h3{
                        font-size: 1.5vw;
                    }
                    .page-5 .card{
                        width: 63vw;
                        padding: 3vw 2vw;
                        margin-left: 32vw;
                        transform: translateY(-20%);
                    }
                    .page-5 .card .card-part{
                        height: 8vh;
                        margin-top: 2vw;
                    }
                    .page-5 .card .card-part:last-child{
                        height: 8vh;
                    }
                    .page-5 .card .card-part .line{
                        width: 100% !important;
                        height: 1px !important;
                        right: 0;
                    }
                    .page-5 .card .card-part h1{
                        font-weight: 300;
                        font-size: 2vw;
                    }
                    .page-5 .card .card-part h4{
                        font-weight: 300;
                        font-size: 1.8vw;
                        display: inline-block;
                    }
                    .page-5 .page-5-footer{
                        /* background-color: red; */
                        width: 90%;
                        margin-left: 30%;
                        margin-top: 3vw;
                    }
                    .page-5 .page-5-footer h1{
                        font-size: 1.5vw;
                        font-weight: 300;
                    }
                .page-6{
                    height: 90vh;
                }
                    .page-7 .text{
                        height: 18vh;
                    }
                    .page-7 .line{
                        width: 79% !important;
                    }
                    .page-7 .text h1{
                    font-size: 8vw;
                    }
                    .page-7 .text h2{
                    font-size: 8vw;
                    }
                    .page-7 .text h2 span{
                        font-family: "silk serif";
                        opacity: 0;
                        font-size: 8vw;
                    }
                    .page-7 .text svg{
                        top: 15%;
                       right: 10%;
                       width: 5vw;
                    }
                    .page-7 .text:hover svg{
                        right: 5%;
                    }
                     .social .part h1{
                        font-size: 2.5vw;
                    }
                     .social .part  h2{
                        font-size: 2vw;
                        margin-bottom: 2.5vw;
                    }
                     .social .part .textof-h1{
                        height: 3.5vh;
                    }
                    .page-7 .page-7-footer{
                        width: 87%;
                    }
                    .page-7 .page-7-footer h1{
                        font-size: 2vw;
                    }
        }
        @media (max-width: 750px) {
            .loader .text h2{
                width: 20vw;
            }
.loader .text:nth-child(1){
    margin-top: 50vw;
}
            .nav{
                padding: 3vw 2vw;
            }
     
            .nav-part2{
                display: none;
            }
            .nav-inner2 h5{
                display: none;
            }
            .nav-part2 h3{
                display: none;
            }
            .nav-part1{
                width: 100%;
            }
            .nav-part1 .nav-inner1{
                width: 100%;
                gap: 75vw;
                justify-content: center; 
                align-items: center;
            }
            .nav-part1 .nav-inner1> svg{
                width: 100px;   
            }
            .menu{
             flex-direction: column;
             justify-content: flex-start;
             align-items: flex-start;
             gap: 7vw;
            }
            .menu-part1{
                margin-top: 6vw;
            }
            .menu-part1 .text{
                height: 11vh !important;
                padding-left: 1vw;
            }
            .menu-part1 .text h1{
            font-size: 9vw !important;
            }
            .menu-part1 .text h2{
            font-size: 9vw !important;
            }
            .menu-part1 .text h2 span{
                font-size: 9vw !important;
            }
            .menu .menu-part2 .social{
                color: white;
        flex-direction: column;
                gap: 3vw;
                margin-left: 0vw !important;
            }
            .menu .menu-part2 .social .social-part1{
                display: none;
            }
            .menu .menu-part2 .social .social-part2{
                display: none;
            }
            .menu .menu-part2 .social .social-part3{
                width: 30vw;
            }
            .menu .menu-part2 .social .social-part3 .textof-h1{
                height: 4vh;
            }
            .menu .menu-part2 .social .social-part3 h2{
                font-size: 2vw;
            }
            .menu .menu-part2 .social .social-part3 h1{
                font-size: 3vw !important;
            }
            .page-1{
                height: 50vh;
                padding-bottom: 3vw;
                align-items: center;
            }
            .page-1 .text:nth-child(1){
            display: flex;
                transform: translateX(-16%);
                margin-bottom: 1vw;
                margin-top: 6vw;
            }
            .page-1 .text img{
                display: none;
            }
            .page-1 .text:nth-child(2){
                margin-bottom: 1vw;
            }
            .page-1 .text:nth-child(3){
                height: 6vh;
            }
            .page-2{
                height: 60vh;
            }
            .page-2 .video-container{
                width: 100% !important;
                height: 100% !important;
            }
            .page-3{
                padding: 0vw 2vw;
            }
            .page-3{
                padding-top: 10vw;
            }
                .page-3 .text{
                    height: 8vh;
                }
                .page-3 .text h1{
                font-size: 9vw;
                }
                .page-3 .text .line{
                  width: 86% !important;
                }
                .page-3 .text h1::after{
                    left : 1%;
                }
                .img-container{
                    width: 96vw !important;
                    height: 80vh !important;
                }
                .page-3 .content-end h2{
                    font-size: 2.5vw;
                }
                .page-4{
                    height: 50vh;
                }
                .page-4-circle{
                    width: 30vw;
                    height: 30vw;
                }
                .page-4-circle p{
                    font-size: 2.5vw;
                }
                .page-5 .text{
                    height: 9vh;
                }
                .page-5 .line{
                    width: 82% !important;
                }
                .page-5 .text h1{
                font-size: 9.5vw;
                }
                .page-5 .para-container{
                    margin-left: 0vw;
                }
                .page-5 .text h1:after{
                    left : 1%;
                }
                .page-5 .para-container .para p{
                    font-size: 4vw;
                }
                .page-5 .info{
                    display: flex;
                    justify-content: center;
                    margin-top: 4vw;
                    gap: 2vw;
                    flex-direction: column-reverse;
                }
                .page-5 .info img{
                    width: 100%;
                    margin-left: 0vw;
                    margin-top: 3vw;
                }
                .page-5 .info .part-2{
                    width: 55vw;
                }
                .page-5 .info .part-2 p{
                    font-size: 3vw;
                }
                .page-5 .info .part-2 p:nth-child(1){
                    margin-bottom: 1vw;
                }
                .page-5 .info .part-2 h3{
                    font-size: 3vw;
                }
                .page-5 .card{
                    width: 100%;
                    padding: 3vw 2vw;
                    margin-left: 0vw;
                    transform: translateY(0%);
                }
                .page-5 .card .card-part{
                    height: 7vh;
                    margin-top: 2vw;
                }
                .page-5 .card .card-part:last-child{
                    height: 7vh;
                }
                .page-5 .card .card-part h1{
                    font-weight: 300;
                    font-size: 4vw;
                }
                .page-5 .card .card-part h4{
                    font-weight: 300;
                    font-size: 3vw;
                    display: inline-block;
                }
                .page-5 .page-5-footer{
                    /* background-color: red; */
                    width: 100%;
                    margin-left: 0%;
                    margin-top: 4vw;
                }
                .page-5 .page-5-footer .line{
                    width: 100% !important;
                }
                .page-5 .page-5-footer h1{
                    font-size: 4vw;
                    font-weight: 300;
                }
                .page-6{
                    height: 30vh;
                }
                .page-7 .text{
                    height: 8vh;
                }
                .page-7 .line{
                    width: 85% !important;
                }
                .page-7 .text h1{
                font-size: 9.5vw;
                }
                .page-7 .text h1::after{
                    left: 1%;
                }
                .page-7 .text h2{
                font-size: 8vw;
                }
                .page-7 .text h2 span{
                    font-family: "silk serif";
                    opacity: 0;
                    font-size: 8vw;
                }
                .page-7 .text svg{
                    top: 23%;
                   right: 5%;
                   width: 5vw;
                }
                .page-7 .text:hover svg{
                    right: 0%;
                }
                .social{
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 0;
                }
                     .social .part h1{
                        font-size: 5vw;
                    }
                     .social .part  h2{
                        font-size: 3vw;
                        margin-bottom: 4vw;
                        margin-top: 4vw;
                    }
                     .social .part .textof-h1{
                        height: 3.4vh !important;
                    }
                    .page-7 .page-7-footer{
                        width: 100%;
                        margin-left: 0;
                    }
                    .page-7 .page-7-footer .line{
                        width: 100% !important;
                    }
                    .page-7 .page-7-footer h1{
                        font-size: 4vw;
                    }
        }